aiosqlite
alembic
annotated-types
anyio
asyncpg
certifi
click
colorama
dnspython
email_validator
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
orjson
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
shellingham
sniffio
SQLAlchemy
starlette
typer
typing_extensions
ujson
uvicorn
watchfiles
websockets
fastapi-jwt[authlib]
pymongo